# Dependencies
node_modules/
__pycache__/
*.pyc

# Build
dist/
dist-ssr/
*.local

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local
.terraform/
*.tfstate
*.tfstate.backup
